<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h1> hello world! welcome you all</h1>
        <h3>this is a project for Exploratory Analysis of Rain Fall Data in India for Agriculture</h3>
        <table>
            <tr>
                <th>
                    Team leader:
                </th>
                <th>
                    Priya Vishnu
                </th>
            </tr>
            <tr>
                <th>
                    Team member 1:
                </th>
                <th>
                    mahesh kumaar 
                </th>
            </tr>
            <tr>
                <th>
                    Team member 2:
                </th>
                <th>
                    Suryaprakash
                </th>
            </tr>
            <tr>
                <th>
                    Team member 3:
                </th>
                <th>
                    vijaykumar
                </th>
            </tr>
        </table>
    </body>
</html>